<%= form_with(model: [ @post, @post.comments.build ], url: @post.new_record? ? posts_path : post_comments_path(@post)) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>