

<%= form_with(model: post, local: true) do |form| %>


   <div>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
    <% @post.errors.full_messages_for(:user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <% @post.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div >
    <%= form.label :published_at %><br>
    <%= form.datetime_field :published_at %>
  </div>


  <div>
    <%= form.label :answers_count %><br>
    <%= form.text_field :answers_count %>
    <% @post.errors.full_messages_for(:answers_count).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  
 <div>
    <%= form.label :likes_count %><br>
    <%= form.text_field :likes_count %>
    <% @post.errors.full_messages_for(:likes_count).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


<h2>Add Comment (Optional)</h2>
  <div>
    <%= form.fields_for :comments, @post.comments.build do |comment_fields| %>
      <div>
        <%= comment_fields.label :body, "Comment" %><br>
        <%= comment_fields.text_area :body %>
      </div>

      <div>
        <%= comment_fields.label :user_id, "User id" %><br>
        <%= comment_fields.text_field :user_id %>
      </div>
    <% end %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>