<h1 class="m-4"><%= @post.title %></h1>






<blockquote class="blockquote m-4">
          <p><%= @post.content %></p>
          <footer class="blockquote-footer"> <p><%= @post.user.name %></p>    <cite title="Source Title"></cite></footer>
        </blockquote>





<p>
    <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>

<hr>
<h2 class="m-4">Comments</h2>
<%= render @post.comments%>
    


<div class="container">
  <button type="button" class="btn btn-outline-info mt-4"> <%= link_to "Add Comment", new_post_comment_path(@post) %> </button>



  <button type="button" class="btn btn-outline-info mt-4"><%= link_to "Edit Post", edit_post_path(@post) %></button>

  <%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

  <button type="button" class="btn btn-outline-secondary mt-4">  <%= link_to "Back to Posts", posts_path%>   </button>
</div>

